/* This is backwords, we want base to be small, and qurries are for larger sizes with min width 
32.5em? */
@media only screen and (max-width: 32.5em){
    


    header .div-box{
        flex-direction: column;
    }
    body{
        margin: .5em;
    }
    h1{text-align: center;}
}